<div class="d-flex" id="wrapper">
	<%- include('./partials/side_nav.ejs') %>
	<div id="page-content-wrapper">
		<%- include('./partials/top_nav.ejs') %>
		<div class="container" style="background:rgba(191,172,172,.5);min-height:100vh">
			<div class="row bg-primary pt-5">
				<div class="text-center col-12" id="globalchat-header"><h1 class="display-3 text-light">Global Chat</h1></div>
			</div>
			<div class="row" id="globalchat-content">
				<div class="col-lg-6 col-sm-11 mx-auto">
					<div class="message-box">
						<div class="content overflow-auto pt-3">
							<% messages.forEach(function(message) { %>
								<% if(message.writer._id.toString() == user._id.toString()) { %>
									<div class="message float-right mb-2">
										<div class="green px-2 py-1">
											<div><%= message.message %></div>
										</div>
									</div>
								<% } else { %>
									<div class="float-left message mb-2">
										<small>
											<a href="#additional-info" data-id="<%= message.writer._id %>" class="text-info">&lt;<%= message.writer.tag %>&gt;</a>
										</small>
										<div class="gray px-2 py-1">
											<div><%= message.message %></div>
										</div>
									</div>
								<% } %>
							<% }); %>
						</div>
						<div class="writing">
							<textarea onkeypress="checkEnter(event)" id="message" name="message" required placeholder="Type your message here"></textarea><br>
							<button type="submit" class="btn btn-primary" id="send-msg-btn">Send</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mx-auto" id="additional-info">
					
				</div>
			</div>
		</div>
	</div>
</div>