<div class="d-flex" id="wrapper">
	<%- include('./partials/side_nav.ejs') %>
	<div id="page-content-wrapper">
		<%- include('./partials/top_nav.ejs') %>
		<div class="container" style="background:rgba(191,172,172,.5);min-height:100vh">
			<div class="row">
				<div class="col-12 bg-primary pt-5">
					<div class="text-center col-12"><h1 class="display-3 text-light"><%= group.name %></h1></div>
				</div>
			</div>
			<div class="row mt-3">
				<% if(group.users.length == 0) { %>
					<p>This group has not members!</p>
				<% } else { %>
					<% group.users.forEach(function(member) { %>
						<div class="col-xl-3 col-lg-4 col-sm-6">
							<div class="card pt-2">
								<div class="friend_pic_div overflow-hidden rounded-circle mx-auto" style="width:50%">
									<img class="img-fluid" style="min-width:100%;min-height:100%" src="<%= member.picture || '/images/blank_profile.png' %>">
								</div>
								<div class="card-body">
									<h3 class="card-title text-center overflow-hidden" style="cursor:pointer"><a href="/users/<%= member._id %>/profile" style="color:inherit"><%= member.name %></a></h3>
									<div class="card-subtitle text-center">&lt;<%= member.tag %>&gt;</div>
								</div>
								<input type="hidden" id="friend_id" value="<%= member._id %>">
								<div class="card-footer">
									<% if(member._id.toString() == user._id.toString()) { %>
										<div class="text-center">You</div>
									<% } else if(user.friends.includes(member._id.toString())) { %>
										<div class="text-center"><button type="button" class="btn btn-success" value="unfriend">Friended</button></div>
									<% } else { %>
										<div class="text-center"><button type="button" class="btn btn-primary" value="friend">Add friend</button></div>
									<% } %>
								</div>
							</div>
						</div>
					<% }); %>
				<% } %>
			</div>
		</div>
	</div>
</div>