<div class="d-flex" id="wrapper">
	<%- include('./partials/side_nav.ejs') %>
	<div id="page-content-wrapper">
		<%- include('./partials/top_nav.ejs') %>
		<div class="container" style="background:rgba(191,172,172,.5);min-height:100vh">
			<div class="row pt-5" id="profile-header">
				<div class="col-lg-4">
					<div class="w-100 overflow-hidden rounded-circle border" id="profile-pic-div">
						<img class="img-fluid" style="min-width:100%;min-height:100%" src="<%= profile.picture ? profile.picture : '/images/blank_profile.png' %>">
					</div>
				</div>
				<div class="col-lg-8 col-xl-6">
					<div class="card bg-transparent border-0 h-100">
						<div class="card-body">
							<h1 class="display-1 card-title" id="friend-btn-holder">
								<%= profile.name %>
								<% if(profile._id.toString() != user._id.toString()) { %>
									<button type="button" class="btn friend-button <%= isFriend ? 'btn-danger' : 'btn-success' %>" value="<%= isFriend ? 'unfriend' : 'friend' %>">
										<%= isFriend ? 'Unfriend' : 'Friend' %>
									</button>
								<% } %>
							</h1>
							<h4 class="card-subtitle mt-3"><span class="text-light">&lt;</span><%= profile.tag %><span class="text-light">&gt;</span></h4>
							<h4 class="card-subtitle mt-3" id="contact-btn-holder">
								Status: <%= profile.status ? profile.status : 'None' %>
								<% if(contact) { %>
									<% if(profile._id.toString() == user._id.toString() || contact.reserved == 'false' || hasFriended) { %>
										<button type="button" class="btn btn-secondary contact-btn" data-toggle="modal" data-target="#contactModal">View Contact</button>
										<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Contact Info</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<div class="container-fluid">
															<div class="row">
																<h2 class="d-inline-block"><%= contact.last_name %>, <%= contact.first_name %></h2>
															</div>
															<div class="row">
																<h4 class="d-inline-block"><%= contact.email %></h4>
															</div>
															<div class="row">
																<h4 class="d-inline-block"><%= contact.job %></h4>
															</div>
															<div class="row mt-3">
																<div class="col-12"><h6>Address:</h6></div>
																<div class="col-12"><h6 class="font-weight-normal"><%= contact.address %></h6></div>
															</div>
															<div class="row mt-3">
																<div class="col-12"><h6>Phones:</h6></div>
																<dl class="row w-100">
																	<% contact.phones.forEach(function(phone) { %>
																		<dt class="col-sm-4"><%= phone.name %></dt>
																		<dd class="col-sm-8"><%= phone.number %></dd>
																	<% }); %>
																</dl>
															</div>
															<% if(contact.other.length > 0) { %>
																<div class="row mt-3">
																	<div class="col-12"><h6>Other Info:</h6></div>
																	<dl class="row w-100">
																		<% contact.other.forEach(function(thing) { %>
																			<dt class="col-sm-4"><%= thing.name %></dt>
																			<dd class="col-sm-8"><%= thing.details %></dt>
																		<% }); %>
																	</dl>
																</div>
															<% } %>
															<div class="row mt-3">
																<div class="col-12"><h6>Notes:</h6></div>
																<h6 class="font-weight-normal"><%= contact.notes %></h6>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
									<% } %>
								<% } %>
							</h4>
							<hr class="bg-primary">
							<h6><%= profile.bio %></h6>
						</div>
						<div class="card-footer row">
							<div class="col-6"><p class="font-weight-bold text-light">Joined <%= profile.date_format %></p></div>
							<div class="col-3"><a href="friends" class="text-dark"><p id="friended_num" class="font-weight-bold"><%= profile.friends.length %> friended</p></a></div>
							<div class="col-3"><a href="followers" class="text-dark"><p id="friends_num" class="font-weight-bold"><%= profile.followers.length %> followers</p></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="profile-id" value="<%= profile._id %>">