
<header class="bg-image">
	<img src="https://www.fcbarcelona.com/fcbarcelona/photo/2018/07/04/1db8ea76-4526-41b2-91a3-e2ea50271232/forkitt.jpg">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/disputatio">Disputatio</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/disputatio/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/disputatio/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/disputatio/games">Games</a>
					</li>
				</ul>
				<form class="form-inline" method="POST" action="/disputatio/search">
					<div class="form-group my-0">
						<input class="mr-sm-2 bg-transparent border-top-0 border-left-0 border-right-0 rounded-0" style="border-bottom:1px solid white" type="text" placeholder="Search" aria-label="Search">
					</div>
					<button type="submit" class="btn btn-outline-success">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="mask align-items-center">
		<div class="container">
			<div class="row" style="padding-top:10%">
				<div class="col-md-6 mb-5 mt-md-0 mt-5 text-white text-center text-md-left">
					<h1 class="h1-responsive font-weight-bold">Sign up for free!</h1>
					<hr class="hr-light" style="border-color:inherit">
					<h6 class="mb-3" style="line-height:1.7em">With just a few clicks, you can join a community of about 2 people and interact using Disputatio's awesome features!</h6>
					<a href="/disputatio/about" class="btn btn-outline-light">Learn more</a>
				</div>
				<div class="col-md-6 col-xl-5 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="text-center">
								<h2 class="text-white">
									<i class="fas fa-user text-white"></i> Register:
								</h2>
								<hr style="border-color:white">
							</div>
							<% if(typeof errors != 'undefined') { %>
								<% errors.forEach(function(error) { %>
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										<%= error.msg %>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								<% }); %>
							<% } %>
							<form method="POST" action="/users/register">
								<div class="form-group row">
									<div class="col-sm-2 text-right"><h3 class="text-black"><i class="fa fa-user"></i></h3></div>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="name" placeholder="Name" required value="<%= typeof name != 'undefined' ? name : '' %>">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-2 text-right"><h3 class="text-black"><i class="fa fa-envelope"></i></h3></div>
									<div class="col-sm-10">
										<input type="email" class="form-control" name="email" placeholder="Email" required value="<%= typeof email != 'undefined' ? email : '' %>">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-2 text-right"><h3 class="text-black"><i class="fas fa-user-tag"></i></h3></div>
									<div class="col-sm-10">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">&lt;</span>
											</div>
											<input type="text" class="form-control" name="tag" placeholder="Unique tag" required value="<%= typeof tag != 'undefined' ? tag : '' %>">
											<div class="input-group-append">
												<span class="input-group-text">&gt;</span>
											</div>
										</div>
										<small>Must be alphanumeric</small>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-2 text-right"><h3 class="text-black"><i class="fa fa-lock"></i></h3></div>
									<div class="col-sm-10">
										<input type="password" class="form-control" name="password" placeholder="Password" required value="<%= typeof password != 'undefined' ? password : '' %>">
										<small>Must contain at least 6 characters</small>
									</div>
								</div>
								<div class="form-group row no-gutters">
									<div class="col-sm-2 text-center"><h3 class="text-black"><i class="fa fa-lock pr-1"></i><i class="fa fa-lock"></i></h3></div>
									<div class="col-sm-10">
										<input type="password" class="form-control" name="password2" placeholder="Confirm password" required value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
									</div>
								</div>
								<div class="text-center"><button type="submit" class="btn btn-danger">Register</button></div>
								<div class="text-white pt-3">Already Have an account? <a href="/users/login" class="text-danger">Login</a></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</header>

<style>
html,
body,
header,
.view {
  height: 100%;
}

.view {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
	background-color: rgba(126, 123, 215, .85);
}

input, select, textarea{
    color: white;
}



</style>